.body {
  box-shadow: 0 0 20px #dedede;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 90vh;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.created {
  display: flex;
  justify-content: space-between;
}

.accordin {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.message {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
}
.message > div > small {
  font-size: 0.7rem;
}
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.newMessage {
  display: flex;
  align-items: stretch;
}

.newMessage > textarea {
  flex: 10;
  margin: 0.1rem;
  border: 0.5px solid gray;
  resize: verticle;
  padding: 0.8rem;
}

.newMessage > .btn {
  flex: 1;
}
.invite {
  box-shadow: 0 0 5px gray;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  padding: 0.7rem 0;
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
}
.invite:hover {
  background-color: #664e9695;
  color: #fff;
}
