@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
hr {
  width: 100%;
  height: 2px;
}

.cursor-ptr {
  cursor: pointer;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 55px);
  min-width: max(40%, 350px) !important;
}

@media screen and (max-width: 1480px) {
  .main {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
  }
}
/* @media screen and (max-width: 550px) {
  .main {
    width: 100%;
  }
} */

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #9f2bc1 !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
  padding: 0.4rem 0.8rem;
}

.text-purple {
  color: #9f2bc1;
}

.MuiFormControl-root > label {
  color: #9f2bc1 !important;
}
.MuiFilledInput-underline:after {
  border-bottom: 2px solid #9f2bc1 !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.hoverEffect:hover {
  background-color: purple;
  color: white;
}
.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
  height: 35px;
}

.MuiOutlinedInput-root > input {
  padding: 0px !important;
  padding-left: 10px !important;
}

.MuiOutlinedInput-root > input:focus {
  outline: none !important;
  border: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
button:focus {
  outline: none !important;
}
.PrivateTabIndicator-colorSecondary-9 {
  background-color: #9f2bc1 !important;
}

.Mui-focused
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 2px solid #9f2bc1;
}
.PrivateNotchedOutline-root-1 {
  top: 0 !important;
}
