.header {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.main {
  max-width: max(40%, 400px);
}

.channel {
  display: flex;
  justify-content: space-between;
}
.channel_new_grp {
  display: flex;
  flex-direction: column;
  
}
